SECRET_KEY=django-insecure-77(5qc@0gr$f_^o58yy=ezjxjqo!l%7q(8961eh-!$^r^m6tr!

FRONTEND_URL=http://localhost:3000

OPENROUTER_API_KEY= your_openrouter_api_key_here

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend # For development only, use django.core.mail.backends.smtp.Emailbackend for production
EMAIL_HOST_USER = user_email_here
EMAIL_HOST_PASSWORD = password_here